.container
  .title
    font-size: 24px;
    font-weight: bolder;
    padding: 10px 20px;
  .count
    background: orangered;
    color: #fff;
    position: absolute;
    top: 30px;
    right: 0;
    padding: 5px 10px;
    border-radius: 20px;
  .content
    margin 0 24px
  .detail
    display flex
    margin-bottom 10px
    .detail_item
      text-align center
      font-size 12px
      color #aaa
      width 100%
