.button
  display block
  padding 6px 16px
  margin 0 auto
  margin-top 20px
  border 2px solid lightskyblue
  border-radius 6px
  background #fff
  color #add8e6
  font-size 16px
  transition all ease 1s
  cursor pointer
  outline none
  &:hover
    color #fff
    background lightskyblue
    transition all ease 1s
