.container
  display flex
  height 50px
  padding 0
  margin 0
  position fixed
  left 0
  right 0
  bottom 0
  a
    flex auto
    box-sizing border-box
    line-height 50px
    text-align center
    background lightslategrey
    color #fff
    text-decoration none
    cursor pointer
  .active_item
    background lightskyblue
